.chat-input {
  margin: 20px;
  position: relative;
  display: flex;

  .ant-btn-circle {
    i.anticon {
      font-size: 20px;
      margin-top: 11px;
      cursor: pointer;
      transition: opacity 0.15s ease-in-out;
    }
  }

  &__smile-btn {
    margin-right: 15px;
  }

  &__actions {
    display: flex;
    width: 80px;
    justify-content: space-between;
    margin-left: 15px;
  }

  input {
    &:focus {
      box-shadow: none;
    }
  }
}